        <aside class="left-sidebar">
            <div class="slimscroll-left-sidebar">
                <nav class="sidebar-nav">
                   <div class="sidebar-header text-center" style="padding: 25px 0; position: relative; top: 0;">
                       <figure class="side-user-bg" style="background-image: url(assets/img/sidebar.jpg); opacity: 0.07; margin: 0; position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0.2; background-size: cover; background-position: center center;">
                            <img src="../../../public/assets/img/sidebar.jpg" alt="" class="" style="display: none;">
                        </figure>
                        <img src="../../../public/assets/img/user/" alt="profile image" style="width: 50px; height: 50px; border-radius: 50%; margin: 0 auto;">
                        <h5 class="text-center font-weight-medium" style="color: #ffffff;padding-bottom:10px"></h5>
                   </div>
                    <ul>                      
                        <li data-id="dashboard" id="dashboard" class="main">
                            <a class="" href="Dashboard" aria-expanded="false">
                                <i class="icon-grid"></i>
                                <span class="">
                                    Dashboard
                                </span>
                            </a>
                        </li>
                        <li data-id="dashboard" id="dashboard" class="main">
                            <a class="" href="invoice/invoice_Pos" aria-expanded="false">
                                <i class="icon-bag"></i>
                                <span class="">
                                    POS
                                </span>
                            </a>
                        </li>
                        <li data-id="customers" id="customers" class="main">
                            <a class="has-arrow" href="#" aria-expanded="false">
                                <i class="icon-emotsmile"></i>
                                <span class="">
                                    Customer
                                </span>
                            </a>
                            <ul aria-expanded="true" class="">
                                <li><a href="customer/customerList">Customers</a></li>
                                <li><a href="customer/addCustomer">Add Customer</a></li>
                                <li><a href="customer/newCustomer">New Customer</a></li>
                            </ul>
                        </li>
                        <li data-id="sales" id="sales" class="main">
                            <a class="has-arrow" href="#" aria-expanded="false">
                                <i class="icon-diamond"></i>
                                <span class="">
                                    Sales
                                </span>
                            </a>
                            <ul aria-expanded="true" class="">
                                <li><a href="invoice/invoiceList">Sales Invoice</a></li>
                                <!--<li><a href="invoice/returninvoiceList">Return Invoice</a></li>-->
                                
                                <li><a href="invoice/userSalesReport">Customer</a></li>
                                
                            </ul>
                        </li>
                        <li data-id="product" id="product" class="main">
                            <a class="has-arrow" href="#" aria-expanded="false">
                                <i class="icon-tag"></i>
                                <span class="">
                                    Product
                                </span>
                            </a>
                            <ul aria-expanded="true" class="">
                                <li><a href="product/viewCategory">Category</a></li>
                                <li><a href="product/viewSubcategory">Sub Category</a></li>
                                <li><a href="product/viewSize">Size</a></li>
                                <li><a href="product/viewColor">Color</a></li>
                                <li><a href="product/view_brand">Brand</a></li>
                                <li><a href="product/productList">List Product</a></li>
                                <li><a href="product/viewProduct">Add Product</a></li>
                            </ul>
                        </li><!--

                        <li data-id="return" id="return" class="main">
                            <a class="" href="return_Policy/returnPolicy" aria-expanded="false">
                                <i class="icon-shuffle"></i>
                                <span class="">
                                    Return
                                </span>
                            </a>
                        </li>-->
                        <li data-id="report" id="report" class="main">
                            <a class="has-arrow" href="#" aria-expanded="false">
                                <i class="icon-chart"></i>
                                <span class="">
                                    Report
                                </span>
                            </a>
                            <ul aria-expanded="true" class="">
                                <li><a href="Report/todaysReport">Today's Report</a></li>
                                <li><a href="Report/bestSelling">Best Selling Product</a></li>
                                <li><a href="Report/shortStock">Short Stock</a></li>
                                
                                <li><a href="Report/userSalesReport">User Sales Report</a></li>
                                
                            </ul>
                        </li>
                        
                        <li data-id="expense" id="expense" class="main">
                            <a class="has-arrow" href="#" aria-expanded="false">
                                <i class="icon-compass"></i>
                                <span class="">
                                    Expense
                                </span>
                            </a>
                            <ul aria-expanded="true" class="">
                                <li><a href="Expense/expenseCategory">Expense Category</a></li>
                                <li><a href="Expense/expenseList">Expenses</a></li>
                            </ul>
                        </li>
                        
                        
                        <li data-id="users" id="users" class="main">
                            <a class="has-arrow" href="#" aria-expanded="false">
                                <i class="icon-user"></i>
                                <span class="">
                                    Users
                                </span>
                            </a>
                            <ul aria-expanded="true" class="">
                                <li><a href="user/listUser">List User</a></li>
                                <li><a href="user/Add_User">Add User</a></li>
                            </ul>
                        </li>
                        
                        
                        <li data-id="user-role" id="user-role" class="main">
                            <a class="" href="user/listGroup" aria-expanded="false">
                                <i class="icon-shuffle"></i>
                                <span class="">
                                    Users Role
                                </span>
                            </a>
                        </li>
                        
                        
                        <li data-id="backup" id="backup" class="main">
                            <a class="" href="configuration/Backup_page" aria-expanded="false">
                               <i class="icon-arrow-down-circle" aria-hidden="true"></i>
                                <span class="">
                                    Backup
                                </span>
                            </a>
                        </li>
                        
                        
                        <li data-id="configuration" id="configuration" class="main">
                            <a class="" href="configuration/siteSettings" aria-expanded="false">
                                <i class="icon-settings" aria-hidden="true"></i>
                                <span class="">
                                    Configuration
                                </span>
                            </a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
        </aside>